/*noinspection CssInvalidAtRule*/
@tailwind base;

body, html, #app {
    height: 100%;
}

/*noinspection CssInvalidAtRule*/
@tailwind components;
/*noinspection CssInvalidAtRule*/
@tailwind utilities;

.max-h-sm {
    max-height: 24rem;
}

.max-h-md {
    max-height: 28rem;
}

.max-h-lg {
    max-height: 32rem;
}
